# macOS
.DS_Store

# IntelliJ / Android Studio
.idea/
*.iml

# Flutter / Dart / Build
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
/android/app/debug
/android/app/profile
/android/app/release
